#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

**/.terraform/
**/__pycache__/
*.env
*.zip
.terraform.lock.hcl
.coverage
coverage.xml
