[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"

[dev-packages]
ipdb = "*"
ipython = "*"
lambda-gateway = "*"
pytest = "*"
pytest-cov = "*"
ruff = "*"

[requires]
